@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Gochi+Hand&family=Poppins:wght@200;300;400;500;600&display=swap');
:root{
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img, svg{
    cursor: pointer;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.flex-div{
    display: flex;
    align-items: center;
}
.nav-margin{
    margin-right: 15px;
}
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-black-900);
    position: sticky;
    top: 0;
    z-index: 10;
}
header svg{
    width: 25px;
    justify-content: center;
}
header svg path, 
header svg circle{
    fill: var(--skin-color);
    stroke: var(--skin-color);
}
header img{
    width: 30px;
    justify-content: center;
    margin-right: 8px;
}
header span{
    position: relative;
    top: -5px;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    letter-spacing: 3px;
}
header span #m-part{
    position: relative;
    top: 0px;
    font-family: 'Clicker Script', cursive;
    font-size: 35px;
}
.nav-right svg{
    width: 23px;
    margin-right: 25px;
    /* transform: translateX(100%); */
}
.nav-right svg path, 
.nav-right svg circle{
    fill: var(--skin-color);
    stroke: var(--skin-color);
}
.nav-right .theme span{
    display: inline-flex;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    /* transform: translateX(-25%); */
    /* border: 1px solid red; */
}
.nav-right .theme span.color-1{
    background: #e31839;
}
.nav-right .theme span.color-2{
    background: #506375;
}
.nav-right .theme span.color-3{
    background: #d2e805;
}
.nav-right .theme span.color-4{
    background: #ffafe1;
}
.nav-right .theme span.color-5{
    background: #e31839;
}
.nav-right svg:hover, header svg:hover{
    transform: scale(1.05);
}
.theme.open{
    transform: translateX(-25px);
}
.hide-theme{
    display: none;
}

/* ====== Sidebar ====== */

.sidebar{
    background: var(--bg-black-900);
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 150px;
}
.sidebar svg{
    margin-right: 20px;
    width: 23px;
    justify-content: center;
    position: relative;
    /* bottom: -5px; */
}
.sidebar svg path, .sidebar svg circle{
    fill: var(--text-black-900);
    stroke: var(--text-black-900)
}
.sidebar a{
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid var(--bg-black-50);
    display: block;
    color: var(--text-black-900);
    padding: 5px 15px;
}
.nav-links a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
    width: fit-content;
    color: var(--text-black-900);
    font-size: 16px;
    font-weight: 600;
    border-bottom:1px solid var(--bg-black-50);
    padding: 5px 15px;
}
.nav-links a.active{
    transform: scale(1.05);
    border-left: 5px solid var(--skin-color);
    color: var(--skin-color);
}
.nav-links a.active svg path, 
.nav-links a.active svg circle{
    fill: var(--skin-color);
    stroke: var(--skin-color);
}
.nav-links a:hover{
    transform: scale(1.05);
}
.small-sidebar{
    background: var(--bg-black-900);
    width: 5%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 150px;
}
.small-sidebar svg{
    /* margin-right: 20px; */
    margin-left: 5px;
    width: 23px;
    justify-content: center;
    align-items: center;
    position: relative;
    /* left: 5px; */
    right: 15px;
    border: none;
}
.small-sidebar .active svg{
    transform: scale(1.05);
}
.small-sidebar .active svg path, 
.small-sidebar .active svg circle{
    fill: var(--skin-color);
    stroke: var(--skin-color);
}
.small-sidebar svg path, 
.small-sidebar svg circle{
    fill: var(--text-black-900);
    stroke: var(--text-black-900)
}
.small-sidebar a{
    border: none;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 600;
    display: block;
    color: var(--text-black-900);
    padding: 5px 0;
}
.small-sidebar a.active{
    border: none;
}
.small-sidebar a p{
    display: none;
}

/* ====== Container ====== */

.container{
    /* min-height: 480px;
    position: relative;
    right: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: auto;
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(#ffffff1a 0%, #ffffff1a 100%),
    url("/music/Melody/images/Vintage-Headphones.jpg");
    flex-wrap: wrap;
    border-radius: 10px;
    margin-right: 2%; */
    /* background: #1d1b1f; */
    padding-left: 16%;
    padding-right: 1%;
    padding-top: 0;
    padding-bottom: 20px;
}
.container h3{
    color: var(--skin-color);
    margin-top: 30px;
}
.large-container{
    padding-left: 6%;
    padding-top: 0px;
    /* margin-top: 30px; */
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    border-radius: 10px;
    height: 380px;
}
.img-letter{
    position: absolute;
    top: 10%;
    /* left:  */
    color: var(--bg-black-900);
    text-align: center;
    font-family: 'Gochi Hand', cursive;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 90px;
    letter-spacing: 5px;
    cursor: pointer;
}
.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 16px;
    row-gap: 30px;
    margin-top: 15px;
}
.vid-list .thumbnail, .music-list .thumbnail{
    width: 100%;
    border-radius: 10px;
}
.vid-list .thumbnail:hover, .music-list .thumbnail:hover{
    transform: scale(1.05);
}
.vid-list .flex-div{
    align-items: flex-start;
    margin-top: 7px;
}
.vid-info, .music-info{
    font-size: 13px;
    color: #676767;
}
.vid-info a, .music-info a{
    color: var(--text-black-900);
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
}
.vid-info a:hover, .music-info a:hover{
    transform: scale(1.01);
}
.music-footer{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-black-900);
    position: sticky;
    bottom: 0;
    z-index: 10;
    display: block;
}
/* .music-footer .first-control{
    margin-left: 35%; 
} */
.music-footer span svg{
    width: 40px;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    fill: var(--skin-color);
    stroke: var(--skin-color);
}
.music-footer .controls button:hover,
.music-footer span svg:hover{
    transform: scale(1.05);
}
.music-footer .controls button:active,
.music-footer span svg:active{
    transform: scale(1);
}
/* .music-footer .controls .play-pause svg{
    width: 45px;
    justify-content: center;
}
.music-footer .controls .play-pause .disabled{
    display: none;
} */
.music-footer .controls button{
    background: transparent;
    color: var(--skin-color);
    font-size: 20px;
    padding: 7px 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid var(--skin-color);
    position: relative;
    top: -11px;
}
.music-footer .controls button span{
    align-items: center;
    color: var(--skin-color);
    font-size: 20px;
}
.music-footer .controls .play-pause svg path, 
.music-footer .controls .play-pause svg circle{
    stroke: var(--skin-color);
    fill: none;
    stroke-width: 2px;
}
.music-footer .controls .first-control{
    margin-left: 40%;
}
/* .music-footer .controls #current-start{
    margin: 0 0 0 20px; 
    margin-right: 40%; 
    position: relative;
    top: -7px;
    right: 50x;
    justify-content: center; 
} */

/* .controls .right-side{
    display: flex; 
    position: relative;
    top: -25px;
    left: 260px;
    width: 43%;
    height: 4px;
    margin: 0 15px 0 10px;
    background: blue;
    fill: blue; 
}
.controls .right-side .bar .bar2{
    position: absolute;
    background: lightblue;
    width: 50%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
.controls .right-side .bar .circle{
    position: absolute;
    background: blue;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
} */
/* ====== Responsive ====== */

@media (max-width: 900px){
    .sidebar{
        display: none;
    }
    .container, .large-container{
        padding-left: 6%;
        padding-right: 5%;
    }
    .small-sidebar{
        display: flex;
        background: var(--bg-black-900);
        width: 90%;
        height: 100vh;
        position: fixed;
        top: 0;
        padding-left: 10%;
        padding-top: 35px; 
        margin-top: 35px;
        z-index: 9;
    }
    .small-sidebar a p{
        font-size: 16px;
        font-weight: 600;
        border-bottom: 1px solid var(--bg-black-50);
        display: flex;
        color: var(--text-black-900);
        padding: 0px 0px;
        position: relative;
        top: -25px;
        left: 25px;
    }
    .nav-right{
        display: none;
    }
    .music-footer .controls .first-control{
        margin-left: 10%;
    }
}







/* ====== Music footer ======  */

.footer{
    position: fixed;
    bottom: 0;
}
.footer 





/* ====== About Section ====== */

.main-content{
    padding-left: 0px;
}
/* .padd-15{
    padding-left: 15px;
    padding-right: 15px;
} */
/* .container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
} */
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative; 
}   

.about-us{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
.about-us .info{
    flex: 0 0 60%;
    max-width: 60%;
}
.info h3{
    font-size: 28px;
    margin: 35% 0px;
    margin-bottom: 30px;
}
h3 span.emoji{
    font-size: 40px;
    font-family: 'Clicker Script', cursive;
    font-weight: 700;
    color: var(--skin-color);
}
.info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}
.info p #m-part{
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
}
.about-us .image{
    flex: 0 0 40%;
    max-width: 40%; 
    margin: 15% 0;
    text-align: center;
    position: relative; 
}
.about-us .image::after{
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 20px;
    bottom: -40px;
}
.about-us .image::before{
    content: "";
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    position: absolute;
    left: 20px;
    top: -40px;
} 
.about-us .image img{
    margin: auto;
    border-radius: 5px;
    height: 400px;
}
.main-content footer{
    font-size: 20px;
    margin-bottom: 30px;
    border-top: 1px solid var(--text-black-700);
}
.main-content footer table{
    margin: 20px 30px;
    display: flex;
}
.main-content footer table th{
    color: var(--text-black-900);
    margin-left: 20px;
    width: 300px;
    text-align: left;
    justify-content: center;
    /* font-family: 'Clicker script', cursive; */
}
.main-content footer table td{
    color: var(--text-black-700);
    text-align: left;
    cursor: pointer;
    justify-content: center;
    width: 500px;
    /* font-family: 'Clicker script', cursive; */
}
.main-content footer table td.brands{
    text-align: center;
    width: 100px;
}
.main-content footer table td.brands:hover{
    transform: scale(1.05);
}



/* ====== Video container ====== */

.vid-container{
    background: var(--text-black-700);
    height: 100vh;
}
.vid-container video{
    margin: auto;
    display: flex;
    align-items: center;
    width: 75%;
    
}

/* ====== Responsive ====== */

@media (max-width:1199px){
    .main-content{
        padding-left: 10px;
        z-index: 0;
    }
}
@media (max-width:920px){
    .about-us .image{
        display: none;
    }
}







.form-container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#000032cc, #003232cc),
    url("/data_structures/Music/img/Vintage-Headphones.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.form-box > *:first-child{
    margin-top: 0;
}
.form-box > *:last-child{
    margin-bottom: 0;
}
.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg-black-900);
    padding: 50px 60px 70px;
    border-radius: 20px;
}
.form-box h1{
    font-size: 40px;
    margin-bottom: 60px;
    color: var(--skin-color);
    text-align: center;
    position: relative;
}
.form-box h1::after{
    content: "";
    width: 60px;
    height: 4px;
    background: var(--skin-color);
    position: absolute;
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
}
.form-box h1::before{
    content: "";
    width: 40px;
    height: 4px;
    background: var(--skin-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.form-box .input-group svg{
    /* margin-right: 15px; */
    margin-left: 15px;
    width: 20px;
    justify-content: center;
    position: relative;
    /* top: 5px; */
}
.form-box .input-group svg path, .form-box .input-group svg circle{
    fill: #5c5c5c;
    stroke: #5c5c5c;
}
.input-group{
    background: #dddddd;
    width: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.input-group input{
    width: 100%;
    border: 0;
    background: transparent;
    outline: 0;
    padding: 18px 15px;
    font-size: 18px;
    color: var(--text-black-900);
}
.checkbox-group{
    align-items: left;
    margin: 20px 0;
    display: flex;
    margin-bottom: 30px;
    font-size: 20px;
    color: var(--text-black-900);
}
.checkbox-group span{
    margin-left: 15px;
}
.button-class{
    align-items: center;
    margin-bottom: 15px;
    border-radius: 50px;
    font-size: 20px;
    color: var(--bg-black-100);
    font-family: 'Poppins', sans-serif;
}
button{
    background-color: var(--skin-color);
    font-size: 30px;
    border: none;
    padding: 10px 18px;
    display: flex;
    justify-self: center;
    cursor: pointer;
    margin: auto;
}
button:hover{
    transform: scale(1.05);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
button:active{
    transform: scale(0.98);
}
.links{
    font-size: 18px;
}
.links a:hover{
    text-decoration: underline;
}
.links span{
    margin-right: 10px;
    color: var(--text-black-900);
}
::placeholder {
    color: #5c5c5c;
    opacity: 1; 
}
  
:-ms-input-placeholder {
   color: #5c5c5c;
}
  
::-ms-input-placeholder {
   color: #5c5c5c;
}